.container {
  --radius: 100px;

  z-index: 0;
  position: relative;
  width: 280px;
  height: 500px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  border-radius: 0 0 var(--radius) var(--radius);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);

  pointer-events: none;
  user-select: none;

  transform-origin: bottom center;
  animation: popImage 0.6s cubic-bezier(0.87, 0, 0.13, 1) 0.2s both;
}

@keyframes popImage {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

.topBackground,
.bottomBackground {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 40%;
  background: var(--color-red);
  will-change: background;
  z-index: -1;

  transition: background 0.9s cubic-bezier(0.87, 0, 0.13, 1);
  animation: swapColors 5s infinite both linear;
}

.green {
  background: var(--color-green);
  animation: none;
}

.purple {
  background: var(--color-purple);
  animation: none;
}

.yellow {
  background: var(--color-yellow);
  animation: none;
}

@keyframes swapColors {
  0% {
    background: var(--color-red);
  }
  33% {
    background: var(--color-green);
  }
  66% {
    background: var(--color-purple);
  }
}

.topBackground {
  top: 20%;
  border-radius: var(--radius) var(--radius) 0% 0%;
}

.bottomBackground {
  bottom: 2px;
  border-radius: 0 0 var(--radius) var(--radius);
}
