@import "./base";
@import "./animations";
@import "./section";
@import "./company";

.name {
    display: flex;
    align-items: center;
    font-size: 8vw;
    word-spacing: 0;
}

.job {
    font-size: 4vw;
}

// Not proud, but oh well
.👿 {
    font-size: 0;
}

.domain {
    position: relative;
    display: flex;
}

.domain__char {
    animation: appear 0.3s ease-in-out both;
}

.domain__char:first-child {
    animation-delay: 0.2s;
}

.domain__char:nth-child(2) {
    animation-delay: 0.6s;
}

.domain__char:nth-child(3) {
    animation-delay: 0.9s;
}

.domain__char:nth-child(4) {
    animation-delay: 1.3s;
}

.caret {
    width: 2px;
    margin-left: 1vw;
    transform: scaleY(0);

    transform-origin: center center;
    opacity: 0;
    background-color: #fff;
    animation: flick 0.5s ease-in-out alternate-reverse infinite both 2s;
}
