@import "./colors";

.technology {
    padding: 0.6rem 0 0;

    &__container {
        padding-top: 1rem;

        display: flex;
        flex-flow: column wrap;
        justify-content: center;
    }

    &--frontend + &--backend,
    &--backend + &--database {
        padding-top: 2rem;
    }
}
